@using MVC_CORE.Models
@model Admin
@{
    ViewBag.Title = "Error Message";
}

<div class="jumbotron">
    <h1>@ViewBag.Reason</h1>
    <p class="lead">Please, Try Again!</p>
    <p> @Html.ActionLink("SignIn", "Login", "Applicant_Login") </p>
</div>
