@using MVC_CORE.Models
@model Admin
@{
    ViewBag.Title = "Admin's Home Page";
}

<div class="jumbotron">
    <h1>Hello, Dear Administrator!</h1>
    <p class="lead">Now You Can Proceed To Any Resources!</p>
</div>